.p-about{
    font-size: 40px;
    font-style: bold;
}

.about-me{
    margin-top: 1%;
}
.lo-que-hago{
    margin-top: 4%;
    background-color: #8a2be2;
    border-radius: 6.25rem;
    padding: 0.9375rem;
    width: 50%;
    height: 10%;
    text-align: center;
    
}

h1{
    font-family: 'Cookie', cursive;
    font-size: 7rem;
}

.a-lo-que{
    color: white;
}

.article-about{
    display: flex;
    flex-direction: column;
    text-align: left;
    width:40%;
    
}

.section-about{
    padding: 2%;
    width: 80vw;
    height: 600px;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    
}

.img-about{ 
    display: flex;
    flex-direction: row;
    width: 40%;
    height: 40%;
    
}


/* *** MEDIA QUERIES *** */

@media(max-width: 1000px){
    .section-about{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .p-about{
        font-size: 2 em;
        text-align: center;
    }
    .h1-about{
        font-size: 3em;
        text-align: center;
    }
    .about-me{
        width: 85%;
        text-align: center;
    }
    .lo-que-hago{
        width: auto;
        height: auto;
    }
    .img-about{
        width: auto;
        height: auto;
    }

@media (max-width: 400px) {
    .section-about{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .p-about{
        font-size: 1 em;
    }
    .h1-about{
        font-size: 2em;
        text-align: center;
    }
    .about-me{
        width: 60%;
        text-align: center;
    }
    .aboutme-button{
        display: none;
    }
    .button-two{
        display: flex;
    }  
}