
.section-footer{
    height: 18.75rem;
    padding: 1%;
    background-color: #72eef5;
}

.nav-footer{
    margin-top: 0.9375rem;
    font-size: 25px;
    list-style: none;
    display: flex;
    justify-content: center;
    
}

.about-footer, .skills-footer, .proyectos-footer, .contacto-footer{
    margin-inline-start:  1.25rem;
    margin-inline-end: 1.25rem;
    
}

.a-about-footer, .a-skills-footer, .a-proyectos-footer, .a-contacto-footer{
    color: #8a2be2;
    text-decoration: none;
    text-shadow: white 2px 2px;
}

.icons{    
    margin: 1.875rem;
    display: flex;
    justify-content: center;
}

i{
    display: flex;
    justify-content: space-around;
    display: inline;   
}

.made{
    text-align: center;
}

.footer-icons{
    list-style: none;
}

.a-footer:hover{
    color: rgb(204, 223, 223);
}
.a-footer:active{
    color: chartreuse;
}


/* *** MEDIA QUERIES *** */

@media(max-width: 1000px){
    .section-footer{
    width: 100%;
    height: auto;
    }
    
    .nav-footer{
        margin-left:auto;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: right;

    }
}

@media (max-width: 400px) and (min-width:320px){
    .section-footer{
        width: 100%;
        height: auto;
        }
        
    .nav-footer{
        font-size: 10px;
        margin-left:auto;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: right;
    }
    
}
