.menu-container{
    padding: 1%;
    background-color: #72eef5;
}
.nav{
    font-size: 1.25rem;
    list-style: none;
    display: inline-flex;
    margin-left: 55%;
}

.a-about, .a-skills, .a-project{
    text-decoration: none;
    color: #8a2be2;
    text-shadow: white 2px 2px;
}

.a-con{
    text-decoration: none;
    color: white;
    
}

.about, .skills, .proyectos, .contacto{
    margin: 0.625rem;
    padding: 0.625rem;
       
}  

.contacto{
    background-color: #8a2be2;
    border-radius: 6.25rem;
    padding: 0.625rem;
}