*{
    margin:0%;
    padding:0%;
    box-sizing:border-box;
    font-family: 'Montserrat', sans-serif;
}

h1, h2{
    color: #8a2be2;
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
}
